<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="action">
    <section class="container mx-auto py-20 px-6 min-h-[50vh]" id="seo-section-about">
        <div class="flex items-center flex-wrap mb-20">
            <div class="w-full mx-auto sm:w-1/2 p-4">
                <img loading="lazy" width="1200" height="800"
                     alt="Jack Russell pupje van Lumberlake kennel zwaait met een pootje"
                     class="rounded-lg border-2 border-yellow-600 sm:max-w-full sm:h-auto shadow-2xl "
                     src="./img/waveing-pup.avif">
            </div>
            <div class="w-full md:w-1/2">
                <h2 class="text-3xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Ontdek de Wereld van Lumberlake's Jack Russell Terriërs
                </h2>
                <h3 class="text-2xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Waar Kwaliteit en Passie Samenkomen
                </h3>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Bij Lumberlake staan liefde en zorg voor onze honden en hun pups centraal. Elk van onze Jack Russell
                    Terriërs wordt grootgebracht met de toewijding die ze verdienen, in een omgeving die hun natuurlijke
                    vrolijkheid en levendigheid voedt. Onze pups groeien op als onderdeel van ons gezin, omringd door de
                    prachtige natuur die hun nieuwsgierigheid en avontuurlijke geest aanwakkert. Kies voor een Lumberlake
                    pup en word onderdeel van een unieke familie waar de gezondheid en het welzijn van de hond voorop staan.
                </p>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Ben je klaar om je leven te verrijken met een Jack Russell pup van Lumberlake? Neem contact met ons op
                    en ontdek jouw nieuwe beste vriend!
                </p>
            </div>
        </div>
    </section>
</th:block>
</html>