<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="services">
    <section class="container mx-auto px-6 py-20 min-h-[50vh]" id="service">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8 dark:text-slate-50 py-10 pt-10">
            Services:
        </h2>
        <div class="flex items-center flex-wrap mb-20">
            <div class="w-full md:w-1/2">
                <div class="text-3xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Jack Russell Terriërs bij Lumberlake
                </div>
                <div class="text-2xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Waar karakter, gezondheid en geluk hand in hand gaan.
                </div>
                <div class="text-gray-600 dark:text-slate-300 mb-8 mr-4">
                    <p class="text-gray-600 dark:text-slate-300 mb-8 mr-4">
                        Lumberlake is een kleinschalige kennel gespecialiseerd in raszuivere
                        <a href="https://www.hondencentrum.com/hondenrassen/jackrussellterrier/">
                            Jack Russell Terriërs.
                        </a>
                        We fokken nestjes op basis van weloverwogen combinaties die aan de rasstandaarden voldoen, met
                        speciale aandacht voor het karakter van de ouders. Onze honden en pups zijn volledig geïntegreerd in
                        het gezin, verblijven niet in kennels, en genieten van veel beweging en stimulatie. We zijn gelegen
                        nabij een erkend hondenlosloopgebied van Venlo, wat bijdraagt aan het sociale en energieke karakter
                        van de honden.
                    </p>
                    <p class="text-gray-600 dark:text-slate-300 mb-8">
                        Kortom: het zijn energieke, vrije en zeer sociale honden met een eerlijk karakter. Wilt je meer
                        informatie of een
                        <a href="https://www.msn.com/nl-nl/entertainment/other/de-30-populairste-hondenrassen-ter-wereld/ss-BB1nWilD#image=6">
                            Jack Russell kopen,
                        </a>
                        kijk dan eens verder op onze website of neem gerust contact met ons op.
                    </p>
                    <p class="text-gray-600 dark:text-slate-300 mb-8">
                        Ontdek de charme van
                        <a href="#service_01">
              <span
                      class="text-yellow-600 dark:text-yellow-600 font-bold uppercase"
              >kleinschalig</span
              >
                        </a>gefokte,
                        <a href="#service_02">
              <span
                      class="text-yellow-600 dark:text-yellow-600 font-bold uppercase"
              >sociale</span
              >
                        </a>
                        Jack Russell Terriërs bij Lumberlake. Waar karakter,
                        gezondheid en geluk hand in hand gaan.
                    </p>
                </div>
            </div>
            <div class="w-full mx-auto sm:w-1/2 m-4 p-4">
                <img loading="lazy" width="1200" height="800"
                     alt="Lumberlake logo met drie Jack Russell Terriërs en tekst 'Lumberlake Jack Russell Terrier' op witte achtergrond"
                     class="rounded-lg border-2 border-lime-700 sm:max-w-full sm:h-auto shadow-2xl "
                     src="./img/lumberlake-banner.avif">
            </div>
        </div>
        <div class="flex items-center flex-wrap mb-20 pt-20" id="service_01">
            <div class="w-full mx-auto sm:w-1/2 m-4 p-4">
                <img loading="lazy" width="1200" height="800"
                     alt="Jack Russells, teefje met puppen kijken naar hetzelfde punt"
                     class="rounded-lg border-2 border-lime-700 sm:max-w-full sm:h-auto shadow-2xl "
                     src="./img/sociaal.avif">
            </div>
            <div class="w-full md:w-1/2">
                <div class="text-3xl text-yellow-600 dark:text-yellow-600 font-bold mb-3 uppercase">
                    Kleinschalig:
                </div>
                <div class="text-3xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Met Zorg en Aandacht
                </div>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Bij Lumberlake staat kleinschaligheid centraal in onze nestjes. Elk nestje wordt met zorg en
                    aandacht gefokt, uit ouders die niet alleen voldoen aan de rasstandaarden, maar ook geselecteerd zijn op
                    karakter. Deze zorgvuldige aanpak garandeert dat onze
                    <a href="https://www.anicura.nl/over-huisdieren/hond/hondenrassen/jack-russel-terrier/">
                        Jack Russell Terriërs
                    </a>gezond, gelukkig en goed
                    aangepast zijn, klaar om een vreugdevolle aanvulling op uw huishouden te zijn.
                </p>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Ben jij op zoek naar een lieve, levendige Jack Russell pup? Neem gerust contact met ons op om te
                    informeren naar de actuele of verwachte nestjes. We vertellen je graag meer over de beschikbare pups,
                    onze werkwijze en wat je kunt verwachten van een Lumberlake Jack Russell.
                </p>
                <a href="#availability"
                   class="inline-block BtnBlue text-white dark:text-white hover:text-amber-300 font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
                    Beschikbaarheid
                </a>
            </div>
        </div>
        <div class="flex items-center flex-wrap mb-20 mt-20 pt-20" id="service_02">
            <div class="w-full md:w-1/2">
                <div class="text-3xl text-yellow-600 dark:text-yellow-600 font-bold mb-3 uppercase">
                    Sociaal:
                </div>
                <div class="text-3xl text-gray-800 dark:text-slate-50 font-bold mb-3">
                    Leven in Harmonie
                </div>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Onze <a href="https://www.jackrusselterrier.nl/">Jack Russell Terriërs</a>
                    genieten van een energiek en sociaal bestaan, volledig geïntegreerd in ons
                    gezin. Ze ervaren dagelijks de vrijheid en het plezier van het verkennen van natuurgebieden, waardoor ze
                    opgroeien tot vrolijke en evenwichtige metgezellen. Hun tijd buiten in een erkend hondenlosloopgebied
                    zorgt voor goed gesocialiseerde karakters, klaar om liefdevol deel uit te maken van hun nieuwe gezinnen.
                </p>
                <p class="text-gray-600 dark:text-slate-300 mb-8">
                    Elke pup krijgt bij ons de juiste aandacht, socialisatie en gezondheidsondersteuning, zodat jij
                    verzekerd bent van een sterke en evenwichtige hond.
                    Dus wil je een Jack Russell terrier pup kopen van een betrouwbare fokker? Bij Kennel Lumberlake fokken
                    we met liefde en zorg Jack Russell terrier puppies met een erkende stamboom.
                    Kijk snel naar onze beschikbare pupjes of om je in te schrijven voor het volgende nestje. Jouw ideale
                    Jack Russell terrier pup wacht op je bij Lumberlake.
                </p>
                <a href="#availability"
                   class="inline-block BtnBlue text-white dark:text-white hover:text-amber-300 font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
                    Beschikbaarheid
                </a>
            </div>
            <div class="w-full mx-auto sm:w-1/2 m-4 p-4">
                <img loading="lazy" width="1200" height="800"
                     alt="Jack Russells, teefje Emma leert pup de bijtgrens aan"
                     class="rounded-lg border-2 border-lime-700 sm:max-w-full sm:h-auto shadow-2xl "
                     src="./img/emma-bijtgrens-aanleren.avif">
            </div>
        </div>
    </section>

</th:block>
</html>