<!doctype html>
<html class="sm:scroll-smooth" lang="nl-NL">
<head>
    <th:block th:insert="~{fragments/head/head :: head}"></th:block>
    <title>Jack Russell Terriër Pups met Stamboom | Lumberlake Venlo</title>
</head>
<body class="min-h-screen font-sans text-gray-700 bg-white dark:bg-slate-800 dark:text-white leading-relaxed tracking-wide transition-colors duration-300">

<header class="bg-yellow-700 text-white sticky top-0 z-10 gradient">
    <th:block th:insert="~{fragments/elements/navigation/desktop :: desktop-nav}"></th:block>
    <th:block th:insert="~{fragments/elements/navigation/mobile :: mobile-nav}"></th:block>
</header>

<main id="main-content">
    <th:block th:insert="~{fragments/home/home :: home}"></th:block>
</main>
<th:block th:insert="~{fragments/footer/home/footer :: footer}"></th:block>

</body>
</html>
