<!doctype html>
<html class="sm:scroll-smooth" lang="nl-NL">
<head>
    <th:block th:insert="~{fragments/head/meta/properties/properties :: properties}"></th:block>
    <th:block th:insert="~{fragments/head/meta/properties/properties :: scripts}"></th:block>
    <th:block th:insert="~{fragments/head/meta/properties/properties :: links}"></th:block>
    <th:block th:insert="~{fragments/head/meta/analytics/google-tag :: google-tag}"></th:block>
    <th:block th:insert="~{fragments/structured-data/json-at-head :: head-json}"></th:block>
    <title>Jack Russell Terriër Pups met Stamboom | Lumberlake Venlo</title>

</head>
<body class="min-h-screen font-sans text-gray-700 bg-white dark:bg-slate-800 dark:text-white leading-relaxed tracking-wide transition-colors duration-300">

<header class="bg-yellow-700 text-white sticky top-0 z-10 gradient">
    <th:block th:insert="~{fragments/elements/navigation/desktop :: desktop-nav}"></th:block>
    <th:block th:insert="~{fragments/elements/navigation/mobile :: mobile-nav}"></th:block>
</header>

<th:block th:insert="~{fragments/body/hero :: hero}"></th:block>
<th:block th:insert="~{fragments/body/services :: services}"></th:block>
<th:block th:insert="~{fragments/body/availability :: availability}"></th:block>
<th:block th:insert="~{fragments/body/action :: action}"></th:block>

<th:block th:insert="~{fragments/body/description :: description}"></th:block>
<th:block th:insert="~{fragments/body/about :: about}"></th:block>
<hr class="mx-auto bg-black dark:bg-white  w-1/2 mb-20">




<!--CONTACT-->
<section id="contact"
         class="gradient min-h-[50vh]">
    <h2 class="sr-only">Contact</h2>
    <!-- top wave svg -->
    <th:block th:insert="~{fragments/elements/waves/top.html :: top-wave-svg}"></th:block>
    <div class="container mx-auto px-6 text-center py-20 min-h-[80vh]">
        <div class="mb-6 text-4xl font-bold text-center text-white">
            Ben je klaar om je leven te verrijken met een Jack Russell pup van Lumberlake?
        </div>
        <div class="my-4 text-2xl text-white">
            Neem contact met ons op<br>
            en ontdek jouw nieuwe beste vriend!
        </div>
        <div class="container mx-auto px-6 py-20" id="contact-card">
            <h3 class="text-4xl font-bold text-center text-white dark:text-slate-50 mb-8">
                Contact
            </h3>
            <div class="flex flex-wrap">
                <div class="w-full px-2 mb-4">
                    <div class="bg-white w-full sm:w-2/3 md:w-1/2 mx-auto rounded shadow py-4 px-4">
                        <div class="text-black text-center">Afspraak maken:</div>
                        <p class="text-gray-800 text-base px-6 mb-5">
                            Telefonisch: <a class="hover:opacity-90"
                                            href="tel:+31634024746"
                                            aria-label="Bel ons op 06 34 02 47 46">
                            (+31) 6 3402 4746</a><br>
                            E-mail:
                            <a class="hover:opacity-90"
                               href="mailto:gerdaarts@gmail.com"
                               aria-label="Stuur een e-mail naar gerdaarts@gmail.com">
                                Stuur een e-mail </a><br>
                            <a class="hover:opacity-90 inline-flex items-center justify-center"
                               href="https://www.facebook.com/lumberlake.jackrussells"
                               aria-label="Facebook">
                                <svg class="w-6 h-6" viewBox="0 0 512 512">
                                    <circle cx="256" cy="256" r="256" fill="#1877F2"/>
                                    <path d="M334 176h-42c-11 0-22 9-22 20v40h60l-10 60h-50v160h-60V296h-50v-60h50v-50c0-44 36-80 80-80h44v70z"
                                          fill="white"/>
                                </svg>
                            </a>
                        </p>
                        <p class="text-gray-500 text-xs md:text-sm px-6">
                            Overdag goed bereikbaar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bottom wave svg -->
    <div class="relative h-[140px] lg:h-[180px] overflow-hidden">
        <svg class="absolute inset-0 w-full h-full"
             preserveAspectRatio="none" viewBox="0 0 1428 174" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-2.000000, 44.000000)" fill="var(--fill-color)" fill-rule="nonzero">
                    <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
                          opacity="0.100000001"></path>
                    <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                          opacity="0.100000001"></path>
                    <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
                          id="Path-4" opacity="0.200000003"></path>
                </g>
                <g transform="translate(-4.000000, 76.000000)" fill="var(--fill-color)" fill-rule="nonzero">
                    <path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
                </g>
            </g>
        </svg>
    </div>
</section>

<!-- Testimonials -->
<section class="bg-white  dark:bg-slate-800 dark:text-white min-h-[50vh]" id="testimonials">
    <div class="container mx-auto px-6 py-20">
        <h2 class="text-4xl font-bold text-center text-gray-800 dark:text-slate-50 mb-8">
            Testimonials
        </h2>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-gray-100 rounded shadow py-2">
                    <p class="text-gray-900 text-base px-6 mb-5">
                        "Onze ervaring met Lumberlake Jack Russell Kennel was niets minder dan uitzonderlijk. Vanaf het
                        moment dat we de website bezochten tot het moment dat we onze kleine pup in onze armen sloten,
                        voelden we ons volledig ondersteund en geïnformeerd. De website straalt liefde en zorg uit, net
                        zoals het team van Lumberlake dat doet. We konden duidelijk zien hoe gepassioneerd ze zijn over
                        hun honden en het belang dat ze hechten aan het welzijn van de pups. Onze Jack Russell heeft ons
                        gezin compleet gemaakt, en we hebben dat allemaal te danken aan Lumberlake."
                    </p>
                    <p class="text-black text-xs md:text-sm px-6">Martijn en Sophie</p>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-gray-100 rounded shadow py-2">
                    <p class="text-gray-900 text-base px-6 mb-5">
                        "De website van Lumberlake gaf ons direct een goed gevoel. Het was duidelijk, informatief en vol
                        met hartverwarmende verhalen en prachtige foto's van hun Jack Russells. Dit weerspiegelde
                        perfect de realiteit toen we de kennel bezochten. We waren onder de indruk van de kennis en
                        zorgzaamheid van het team. Ze namen de tijd om al onze vragen te beantwoorden en zorgden ervoor
                        dat we de perfecte match vonden. Onze pup is gezond, gelukkig, en zeer goed gesocialiseerd,
                        allemaal dankzij de fantastische start die hij bij Lumberlake kreeg."
                    </p>
                    <p class="text-black text-xs md:text-sm px-6">Lucas en Emma</p>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-gray-100 rounded shadow py-2">
                    <p class="text-gray-900 text-base px-6 mb-5">
                        "Het kiezen van een pup via de website van Lumberlake was een vreugdevolle ervaring. De site was
                        niet alleen makkelijk te navigeren, maar bood ook een schat aan kennis over het ras en hun
                        specifieke zorgbehoeften. Lumberlake onderscheidt zich door hun toewijding aan kwaliteit en
                        transparantie. Elk bezoek aan de kennel bevestigde de indruk die we online kregen: deze mensen
                        zetten hun hart en ziel in de verzorging van hun honden. Onze Jack Russell is avontuurlijk,
                        liefdevol, en heeft een geweldig temperament, wat een getuigenis is van de liefdevolle omgeving
                        bij Lumberlake."
                    </p>
                    <p class="text-black text-xs md:text-sm px-6">David en Anita</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<th:block th:insert="~{fragments/footer/footer :: footer}"></th:block>

<!-- images bucket -->
<th:block th:insert="~{fragments/images-bucket/bucket :: bucket}"></th:block>

<!-- structured reviews -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Review",
        "itemReviewed": {
            "@type": "LocalBusiness",
            "name": "Lumberlake Jack Russell Kennel",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Manresastraat 8",
                "postalCode": "5915VK",
                "addressLocality": "Venlo",
                "addressCountry": "NL"
            }
        },
        "author": {
            "@type": "Person",
            "name": "Martijn en Sophie"
        },
        "reviewBody": "Onze ervaring met Lumberlake Jack Russell Kennel was niets minder dan uitzonderlijk. Vanaf het moment dat we de website bezochten tot het moment dat we onze kleine pup in onze armen sloten, voelden we ons volledig ondersteund en geïnformeerd. De website straalt liefde en zorg uit, net zoals het team van Lumberlake dat doet.",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
        },
        "datePublished": "2022-12-10"
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Review",
        "itemReviewed": {
            "@type": "LocalBusiness",
            "name": "Lumberlake Jack Russell Kennel",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Manresastraat 8",
                "postalCode": "5915VK",
                "addressLocality": "Venlo",
                "addressCountry": "NL"
            }
        },
        "author": {
            "@type": "Person",
            "name": "Lucas en Emma"
        },
        "reviewBody": "De website van Lumberlake gaf ons direct een goed gevoel. Het was duidelijk, informatief en vol met hartverwarmende verhalen. We waren onder de indruk van de kennis en zorgzaamheid van het team. Onze pup is gezond, gelukkig, en zeer goed gesocialiseerd.",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
        },
        "datePublished": "2023-09-12"
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Review",
        "itemReviewed": {
            "@type": "LocalBusiness",
            "name": "Lumberlake Jack Russell Kennel",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Manresastraat 8",
                "postalCode": "5915VK",
                "addressLocality": "Venlo",
                "addressCountry": "NL"
            }
        },
        "author": {
            "@type": "Person",
            "name": "David en Anita"
        },
        "reviewBody": "Het kiezen van een pup via de website van Lumberlake was een vreugdevolle ervaring. De site was makkelijk te navigeren, en bood een schat aan kennis over het ras. Onze Jack Russell is avontuurlijk, liefdevol, en heeft een geweldig temperament.",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
        },
        "datePublished": "2021-04-27"
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "AggregateRating",
        "itemReviewed": {
            "@type": "LocalBusiness",
            "name": "Lumberlake Jack Russell Kennel",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Manresastraat 8",
                "postalCode": "5915VK",
                "addressLocality": "Venlo",
                "addressCountry": "NL"
            }
        },
        "ratingValue": "5",
        "reviewCount": "36",
        "bestRating": "5",
        "worstRating": "4"
    }
</script>


</body>
</html>
