<!doctype html>
<html class="sm:scroll-smooth" lang="nl-NL">
<head>
    <th:block th:insert="~{fragments/head/head :: head}"></th:block>
    <title>Jack Russell Terriër Pups met Stamboom | Lumberlake Venlo</title>
</head>
<body class="min-h-screen font-sans text-gray-700 bg-white dark:bg-slate-800 dark:text-white leading-relaxed tracking-wide transition-colors duration-300">

<main id="main-content">
    <th:block th:if="${contentFragment != null}" th:replace="~{${contentTemplate} :: ${contentFragment}}"></th:block>
    <th:block th:insert="~{pages/information/refer-home :: refer-home}"></th:block>
</main>
<th:block th:insert="~{fragments/footer/pages/footer :: footer}"></th:block>
</body>
</html>
