<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="reviews-json">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Review",
            "itemReviewed": {
                "@type": "LocalBusiness",
                "name": "Lumberlake Jack Russell Kennel",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Manresastraat 8",
                    "postalCode": "5915VK",
                    "addressLocality": "Venlo",
                    "addressCountry": "NL"
                }
            },
            "author": {
                "@type": "Person",
                "name": "Martijn en Sophie"
            },
            "reviewBody": "Onze ervaring met Lumberlake Jack Russell Kennel was niets minder dan uitzonderlijk. Vanaf het moment dat we de website bezochten tot het moment dat we onze kleine pup in onze armen sloten, voelden we ons volledig ondersteund en geïnformeerd. De website straalt liefde en zorg uit, net zoals het team van Lumberlake dat doet.",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
            },
            "datePublished": "2022-12-10"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Review",
            "itemReviewed": {
                "@type": "LocalBusiness",
                "name": "Lumberlake Jack Russell Kennel",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Manresastraat 8",
                    "postalCode": "5915VK",
                    "addressLocality": "Venlo",
                    "addressCountry": "NL"
                }
            },
            "author": {
                "@type": "Person",
                "name": "Lucas en Emma"
            },
            "reviewBody": "De website van Lumberlake gaf ons direct een goed gevoel. Het was duidelijk, informatief en vol met hartverwarmende verhalen. We waren onder de indruk van de kennis en zorgzaamheid van het team. Onze pup is gezond, gelukkig, en zeer goed gesocialiseerd.",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
            },
            "datePublished": "2023-09-12"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Review",
            "itemReviewed": {
                "@type": "LocalBusiness",
                "name": "Lumberlake Jack Russell Kennel",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Manresastraat 8",
                    "postalCode": "5915VK",
                    "addressLocality": "Venlo",
                    "addressCountry": "NL"
                }
            },
            "author": {
                "@type": "Person",
                "name": "David en Anita"
            },
            "reviewBody": "Het kiezen van een pup via de website van Lumberlake was een vreugdevolle ervaring. De site was makkelijk te navigeren, en bood een schat aan kennis over het ras. Onze Jack Russell is avontuurlijk, liefdevol, en heeft een geweldig temperament.",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
            },
            "datePublished": "2021-04-27"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "AggregateRating",
            "itemReviewed": {
                "@type": "LocalBusiness",
                "name": "Lumberlake Jack Russell Kennel",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Manresastraat 8",
                    "postalCode": "5915VK",
                    "addressLocality": "Venlo",
                    "addressCountry": "NL"
                }
            },
            "ratingValue": "5",
            "reviewCount": "36",
            "bestRating": "5",
            "worstRating": "4"
        }
    </script>
</th:block>
</html>